* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    transition: color 0.3s ease;
}

.dice-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dice-display {
    margin: 0 10px;
    text-align: center;
}

.dice-display img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.dice-display img.rolled {
    transform: rotate(360deg);
}

.btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@keyframes rollAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

.dice-rolling {
    animation: rollAnimation 2s ease;
}
